@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: #2adb7a;
    --secondary: #ff9e2c;
  }
}

.onest {
  font-family: var(--font-onest);
}
